/** Margin to the entire page **/
.content{
    margin: 2% 15% 2% 15%;
    border: 1px solid black;
}

.form1{
	width: 80%;
	margin: auto;
}
.right{
	float: right;
	margin: auto;
}
.spaceAround{
	padding: 10px;
}

img{
	width: 100%;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

